.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 21px 18px;
  margin: 0;
  padding: 0;
  margin-left: 199px;
  margin-right: 199px;
  justify-content: center;
}

@media screen and (max-width: 1055px) {
  .elements__list {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .elements__list {
    margin-left: 19px;
    margin-right: 19px;
  }
}