.profile__avatar {
  cursor: pointer;
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  margin-right: 30px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.profile__avatar::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.4s linear;
  background: black url("../../../images/edit.svg") no-repeat center;
  background-size: 26px;
}

.profile__avatar:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1055px) {
  .profile__avatar {
    margin-right: 0;
  }
}