@import url(./text/footer__text.css);
.footer {
  margin-top: 66px;
  margin-bottom: 60px;
  margin-left: 199px;
  margin-right: 199px;
  flex-shrink: 0;
}

@media screen and (max-width: 1055px) {
  .footer {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}